@charset "UTF-8";

a {
  color: red;
}

.center {
  margin: auto;
  width: 30%;
  margin-top: 5%;
}

.center-border {
  margin: auto;
  width: 30%;
  border: 1px solid gray;
  margin-top: 1%;
}

.margin-top {
	margin-top: 10%;
}