
.card {
	margin-top: 60px;
    width: 30%;
    border: none;
}

.card-img-top {
    height: 16rem;
    object-fit: fit;
}

.fa-star {
    color: #D6D51B;
}

.card-columns {	
	column-count: 5;
}

.card-text {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.favorite {
	width: 100%;
}

.pagination {
	margin-top: 40px;
}

footer {
	display: flex;
	justify-content: center;
}