
.card {
    border: none;
    margin-top: 20px;
}

.card-img-top {
    height: 16rem;
    object-fit: fit;
}

.fa-star {
    color: #D6D51B;
}

.card-columns {		
    column-count: 5;
    padding: 20px 100px;
}

@media screen and (max-width: 1000px) {
	.card-columns {		
    	column-count: 4;
	}
}

@media screen and (max-width: 800px) {
	.card-columns {		
    	column-count: 3;
	}
}

@media screen and (max-width: 600px) {
	.card-columns {		
    	column-count: 2;
	}
}


.card-text {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.favorite {
	width: 100%;
}

.pagination {
	margin-top: 10px;
}

footer {
	display: flex;
	justify-content: center;
}